/* reset */
@import './_reset.css';
/* tailwind-css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pretendard (한글 및 기본 폰트) */
@font-face {
  font-family: 'Pretendard Variable'; /* 폰트 이름 지정 */
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-display: swap;
  /* ★★★ 한글, 일본어, 특수문자 등 넓은 범위를 담당하도록 지정 ★★★ */
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F, U+A960-A97F, U+D7B0-D7FF;
}

/* Poppins Regular (영문/숫자 Regular) */
@font-face {
  font-family: 'Poppins'; /* 폰트 이름 지정 */
  src: url('/fonts/poppins-v23-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  /* ★★★ 영문, 숫자, 기본 특수문자 범위에만 이 폰트를 사용하도록 제한 ★★★ */
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F;
}

 /*Poppins Medium (영문/숫자 Medium)*/
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-v23-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F;
}

/* Poppins Bold (영문/숫자 Bold) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/poppins-v23-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+00A0-00FF, U+0100-017F;
}

h1, h2, h3, h4 {
  font-weight: bold;
  line-height: 150%;
  letter-spacing: -0.35px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}