.modalBackground {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  @apply z-150
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*max-width: 80dvw;*/
  /*min-width: 1000px;*/
  height: fit-content;
  /*max-height: 680px;*/
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  z-index: 10001;
  scrollbar-width: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
}

.top_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #E5E8EC;
}

.top_container .close_btn {
  padding: 0;
}

.top_container .close_btn svg {
  fill: #A9A9A9 ;
}

.top_container .close_btn svg:hover {
  fill: #666666;
}

.child_container {
  padding: 15px;
  width: 100%;
  height: 100%;
  min-height: inherit;
  overflow-y: auto;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 11.25px;
  width: 100%;
  height: 65px;
  border-top: 1px solid #E5E8EC;
  @apply gap-2;
}

.bottom_container .submit_btn {
  height: 36px;
  border: 1px solid #D0D4DA;
}

.bottom_container .submit_btn:hover {
  background-color: #F5F5F5;
}