.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  @apply gap-2;
}

.input {
  display: none;
}

.customCheckbox {
  width: 15px;
  height: 15px;
  border: 1px solid;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  @apply border-neutral-250 transition duration-200;
}

.customCheckbox svg {
  width: 15px;
  height: 15px;
  fill: #ffffff;
  transform: scale(0);
  @apply transition duration-200;
}

.input:checked + .customCheckbox {
  @apply bg-primary border-primary;
}

.input:checked + .customCheckbox svg {
  transform: scale(1);
}

.span {
  @apply text-neutral-700 text-md;
}