.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  @apply gap-2 text-neutral-700 text-md;
}

.input {
  display: none;
}

.customRadio {
  width: 13px;
  height: 13px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @apply border-neutral-250 transition duration-200;
}

.customRadio:after {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  position: absolute;
  @apply transition duration-200;
}

.input:checked + .customRadio {
  @apply border-primary;
}

.input:checked + .customRadio:after {
  transform: scale(1);
  @apply bg-primary;
}
