.image_viewer_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: bold;
}

.controls button {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:disabled {
  cursor: unset;
  opacity: 0.5;
}

.document_wrapper {
  width: 100%;
  max-height: 90dvh;
  overflow: auto;
  border: 1px solid;
  @apply border-neutral-200
}

.exception_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .document_wrapper {
    min-width: fit-content;
  }

  .exception_wrapper {
    width: 300px;
    height: 160px;
  }
}