.image_preview_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  @apply gap-2 rounded-lg;
}

.image_preview_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 12px;
  border: 1px solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  @apply border-neutral-200 rounded-lg;
}

.image_preview_item p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 70%;
  @apply text-md text-neutral-700;
}

.button_box {
  display: flex;
}

.viewer_button,
.delete_button,
.download_button {
  width: 32px;
  height: 32px;
  padding: 3px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  @apply text-md text-neutral-600 transition duration-200 rounded-lg;
}

.viewer_button svg,
.delete_button svg{
  @apply text-lg;
}

.delete_button:hover {
  @apply bg-error-bg text-error-dark;
}

.viewer_button:hover {
  @apply bg-success-bg text-success-dark;
}

.download_button:hover {
  @apply bg-primary-bg text-primary-dark;
}