.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper svg {
  min-width: 18px;
  @apply text-lg text-neutral-500 transition duration-300 cursor-pointer;
}

.wrapper svg:hover {
  @apply text-primary-light transition duration-300;
}

.wrapper span {
  @apply text-sm text-neutral-700;
}