.chart_top_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
}

.filter_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  height: 36px;
  @apply gap-2
}

.select {
  height: 100%;
  @apply text-sm text-neutral-700
  leading-relaxed tracking-tight rounded-md ;
}

.filter_container svg, .datepicker_box svg {
  min-width: 18px;
  @apply text-lg text-neutral-500
  transition duration-300 cursor-pointer;
}

.filter_container svg:hover, .datepicker_box svg:hover {
  @apply text-primary-light transition duration-300;
}

.datepicker_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @apply gap-1
}

.datepicker_box span {
  @apply text-sm text-neutral-700
}

.filter_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  height: 36px;
  border: 1px solid;
  @apply text-sm text-neutral-700 rounded-md
  cursor-auto border-neutral-250 cursor-pointer;
}

.filter_btn:hover {
  @apply border-primary-light transition duration-300;
}

/* Chart.js 커스텀 */
.chart_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

/* 모달 child */
.content_container {
  display: flex;
  flex-direction: column;
  @apply gap-2
}

.filter_bottom_box {
  display: flex;
  flex-direction: row;
  height: 36px;
  @apply gap-2
}

.filter_bottom_box select {
  width: 100% !important;
}