.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80dvh;
  @apply gap-5;
}

.wrapper svg {
  font-size: 120px !important;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @apply gap-2;
}

.comment h2 {
  @apply text-xl text-neutral-700;
}

.comment p {
  @apply text-base  text-neutral-700;
}

.comment button {
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .wrapper {
    @apply gap-3;
  }

  .wrapper svg {
    font-size: 70px !important;
  }

  .comment {
    @apply gap-0;
  }

  .comment h2 {
    @apply text-base ;
  }

  .comment p {
    @apply text-md;
  }
}