.pagination_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: fit-content;
  height: 100%;
  @apply gap-4;
}

.pager {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  @apply text-neutral-700 text-md;
}

.pager span {
  @apply font-medium;
}

/* paging */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  overflow: hidden;
}

.pagination > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  text-align: center;
  @apply text-neutral-700 text-md font-medium leading-normal tracking-tighter
  transition duration-300;
}

/* disable 버튼 */
.pagination > button[disabled]:not(.on):hover {
  @apply text-neutral-400 cursor-default;
}
.pagination > button[disabled]:not(.on) svg {
  @apply text-neutral-250 cursor-default;
}

/* 현재 페이지 버튼 */
.pagination > button.on {
  @apply font-medium text-primary bg-primary-light
  rounded-md cursor-pointer transition duration-300 bg-opacity-30;
}

/* 다른 페이지 버튼 hover */
.pagination > button:hover:not([disabled]) {
  @apply font-medium text-neutral-700 bg-neutral-300
  rounded-md cursor-pointer transition duration-300 bg-opacity-30;
}
.pagination > button:hover:not([disabled]) svg {
  @apply font-medium text-neutral-700 ;
}

.pagination svg {
  @apply text-lg text-neutral-700;
}

.left { padding-right: 1px; }
.right { padding-left: 1px; }

@media screen and (max-width: 640px) {
  .pager {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  .pagination { @apply gap-1 }
  .pagination > button {
    width: 26px;
    height: 26px;
    @apply leading-normal;
  }
}