.func_wrap {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.pager {
  align-self: flex-end;
  margin-right: 3px;
  color: #566471;
  font-size: 0.8125rem;
}

/* paging */
.pagination {
  display: flex;
  justify-content: center;
  width: fit-content;
  flex-wrap: wrap;
  border: 1px solid #e1e1e1;
  border-radius: 6px;
  overflow: hidden;
}

.pagination > button {
  display: block;
  width: 32px;
  height: 32px;
  color: #ccc;
  text-align: center;
  line-height: 30px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: 0.3s;
  background-color: #fff;
  border-right: 1px solid #e1e1e1;
}

.pagination > button:last-child {
  border-right: none;
}

.pagination > button[disabled]:not(.on) {
  background: #eaeaea!important;
  border-color: #e1e1e1!important;
  color: #aaa!important;
  cursor: inherit!important;
}

.pagination > button.on {
  background-color: #5D74EF;
  color: #fff!important;
  cursor: inherit!important;
}
/*.pagination > button:hover:not([disabled]) {*/
/*    background-color: #7B5FC4;*/
/*    border-color: rgba(123, 95, 196, 0.75);*/
/*    color: #fff;*/
/*}*/
/*.pagination > button:hover:not([disabled]) svg { color: #7B5FC4; }*/
.pagination svg {
  color: #c4cdd5;
  font-size: 1.25rem;
  margin-bottom: 3px;
}

.left { padding-right: 1px; }
.right { padding-left: 1px; }

@media screen and (max-width: 640px) {
  /* .pagination { gap: 5px; } */
  /* .pagination > button {
      width: 28px;
      height: 28px;
      line-height: 26px;
  } */
  .pager {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  .pagination { gap: 3px; }
  .pagination > button {
    width: 26px;
    height: 26px;
    line-height: 24px;
  }
}