.pagination_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  width: fit-content;
  height: 100%;
}

.pager {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*align-self: flex-end;*/
  color: #566471;
  font-size: 0.8125rem;
}

.pager span {
  font-weight: 500;
}

/* paging */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  flex-wrap: wrap;
  /*border: 1px solid #e1e1e1;*/
  /*border-radius: 6px;*/
  overflow: hidden;
}

.pagination > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  color: #6d6d6d;
  text-align: center;
  line-height: 30px;
  font-size: 0.875rem;
  font-weight: 500;
  transition: 0.3s;
  /*background-color: #fff;*/
  /*border-right: 1px solid #e1e1e1;*/
  border: none;
  border-radius: 100%;
}

/* disable 버튼 */
.pagination > button[disabled]:not(.on) {
  /*background: #eaeaea!important;*/
  /*border-color: #EAEAEA!important;*/
  color: #aaa!important;
  cursor: inherit!important;
}

.pagination > button[disabled]:not(.on) svg {
  /*background: #eaeaea!important;*/
  /*border-color: #EAEAEA!important;*/
  color: #D0D4DA!important;
  cursor: inherit!important;
}

/* 현재 페이지 버튼 */
.pagination > button.on {
  /*background-color: #A5B4FC;*/
  /*border: 1px solid #A5B4FC;*/
  font-weight: 500;
  color: #A5B4FC!important;
  cursor: inherit!important;
}
/*.pagination > button:hover:not([disabled]) {*/
/*    background-color: #7B5FC4;*/
/*    border-color: rgba(123, 95, 196, 0.75);*/
/*    color: #fff;*/
/*}*/
/*.pagination > button:hover:not([disabled]) svg { color: #7B5FC4; }*/
.pagination svg {
  color: #6d6d6d;
  font-size: 1.25rem;
  /*margin-bottom: 3px;*/
}

.left { padding-right: 1px; }
.right { padding-left: 1px; }

@media screen and (max-width: 640px) {
  .pager {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 340px) {
  .pagination { gap: 3px; }
  .pagination > button {
    width: 26px;
    height: 26px;
    line-height: 24px;
  }
}