.content_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content_box li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;
  width: 100%;
}

.content_box li label {
  margin-bottom: 6px;
  color: #475569;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

