.modalBackground {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10000;
}

.modal_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
  max-width: 80dvw;
  min-width: 1000px;
  height: fit-content;
  max-height: 75dvh;
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  top: 15%;
  z-index: 10001;
  scrollbar-width: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.15), 0 4px 6px -2px rgba(0, 0, 0, 0.15);
}

.top_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
  width: 100%;
  height: 58px;
}

.top_container .close_btn {
  padding: 0;
}

.content_container {
  height: fit-content;
  overflow-y: auto;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 58px;
}

.bottom_container .submit_btn {
  border: 1px solid #D0D4DA;
}

.bottom_container .submit_btn:hover {
  background-color: #F5F5F5;
}

/* Modal children */
.content_container {
  display: flex;
  flex-direction: column;
  @apply gap-3
}

.content_container > li {
  display: flex;
  flex-wrap: wrap;
}

.label {
  @apply font-bold text-md;
}

/* profile */
.profile_box {
  align-items: center;
  @apply gap-3 !important
}

.profile_set {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  padding: 10px;
}

.avatarSkeleton {
  width: 120px;
  height: 120px;
  animation: pulse 1.5s infinite;
  @apply rounded-full bg-neutral-300
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.4; }
}

.inner_column {
  display: flex;
  flex-direction: column;
  flex: 1;
  @apply gap-3
}

.inner_row {
  display: flex;
  flex-direction: column;
  width: 100%;
  @apply gap-1
}

/* inner_one_row - 한 줄에 인풋, 버튼 여러개 */
.inner_one_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @apply gap-1
}

.inner_row_set {
  display: flex;
  flex-direction: row;
  @apply gap-2
}

.inner_row_set > input {
  flex-grow: 1;
  min-width: 0;
}

/* input-box: label-input 한쌍씩 */
.input_box {
  display: flex;
  flex-direction: column;
  @apply gap-1
}

.input_box > textarea {
  height: 250px;
}