/* button 공통 스타일 */
.button {
  cursor: pointer;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  word-break: keep-all;
  @apply rounded-md inline-flex items-center justify-center;
}

/* --- Disabled --- */
.disabled {
  cursor: unset;
  pointer-events: none;
  @apply opacity-40;
}

/* --- Variants: Size --- */
.sm {
  height: 34px; /* Small size */
  @apply text-sm;
}

.md {
  height: 36px; /* Medium (기존 기본값) */
  @apply text-md;
}

.lg {
  height: 38px; /* Large size */
  @apply text-base;
}

/* --- Variant: Contained --- */
/* Primary */
.contained.primary {
  @apply bg-primary text-neutral-100
}
.contained.primary:hover {
  @apply bg-primary-dark
}

/* Grey */
.contained.grey {
  @apply bg-neutral-500 text-neutral-100
}
.contained.grey:hover {
  @apply bg-neutral-600
}

/* Info */
.contained.danger {
  @apply bg-danger text-neutral-100
}
.contained.danger:hover {
  @apply bg-danger-dark
}

/* Danger */
.contained.danger {
  @apply bg-danger text-neutral-100
}
.contained.danger:hover {
  @apply bg-danger-dark
}

/* Warn */
.contained.warn {
  @apply bg-warn text-neutral-100
}
.contained.warn:hover {
  @apply bg-warn-dark
}

/* Success */
.contained.success {
  @apply bg-success text-neutral-100
}
.contained.success:hover {
  @apply bg-success-dark
}

/* --- Variant: Outlined --- */
.outlined {
  border: 1px solid;
  @apply bg-surface
}

/* Primary */
.outlined.primary {
  @apply border-primary-light text-primary-dark
}
.outlined.primary:hover {
  @apply bg-primary-bg
}

/* Grey */
.outlined.grey {
  @apply border-neutral-250 text-neutral-700
}
.outlined.grey:hover {
  @apply bg-neutral-150;
}

/* Info */
.outlined.info {
  @apply border-info-light text-info-dark
}
.outlined.info:hover {
  @apply bg-info-bg
}

/* Danger */
.outlined.danger {
  @apply border-danger-light text-danger-dark
}
.outlined.danger:hover {
  @apply bg-danger-bg
}

/* Warn */
.outlined.warn {
  @apply border-warn-light text-warn-dark
}
.outlined.warn:hover {
  @apply bg-warn-bg
}

/* Success */
.outlined.success {
  @apply border-success text-success-dark
}
.outlined.success:hover {
  @apply bg-success-bg
}