main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 24px 40px;
  width: 100%;
  height: calc(100dvh - 64px);
}
h1, h2, h3, h4 {
  font-family: 'Pretendard', sans-serif;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: -0.35px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 18px;
  font-weight: normal;
}
p {
  font-size: 14px;
}
button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 9px 24px;
  border-radius: 8px;
  height: 36px;
  line-height: 150%;
  letter-spacing: -0.35px;
  transition: all 0.2s ease-in-out;
}
input {
  padding: 10px 12px;
  border: 1px solid #D1D1D1 ;
  font-size: .8125rem;
  resize: none;
  transition: all 0.3s ease-in-out;
}
select {
  background-color: #FFF;
  border: 1px solid #D0D4DA;
  padding: 10px 12px;
  font-size: 14px;
  letter-spacing: -0.35px;
  color: #333;
  cursor: pointer;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12 6L8 10L4 6' stroke='%23414651' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 12px;

  padding-right: 36px; /* 오른쪽 여백 확보 */
}
select:hover, input:hover, textarea:hover, select:focus, input:focus, textarea:focus {
  border: 1px solid #A5B4FC  ;
  transition: all 0.3s ease-in-out;
}

/* ck-editor custom */
.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar,
.ck.ck-editor__top .ck-sticky-panel
.ck-toolbar.ck-rounded-corners {
  border: 1px solid #D1D1D1 !important;
  border-bottom: none !important;
  z-index: 9999 !important;
  box-shadow: none !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  border: 1px solid #D1D1D1 !important;
  z-index: 10000 !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable):hover {
  cursor: text;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable):focus {
  border: 1px solid #A5B4FC !important;
  box-shadow: none !important;
}
.ck.ck-toolbar .ck.ck-toolbar__separator {
  background: #D1D1D1 !important;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable), .ck-source-editing-area {
  margin-bottom: 0 !important;
}